<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
</head>

<body>
    {{>header}}
    <div class="main-content">
        <img class="portrait" src="/img/me.png" alt={{name}}>
    </div>
    {{>footer}}
</body>
</html>